* {
  font-family: "Play", sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: inherit;
  transition: all 0.2s linear;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5rem 1rem; /* Adjust padding as needed */
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  background-color: #000; /* Set initial background color to black */
  height: 120px; /* Adjust the height of the navigation bar */
}

.sticky {
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.sticky a {
  color: #fff;
  /* Set text color to white for the sticky state */
}

header .menu-icon {
  font-size: 16px; /* Adjust the font size of the icon */
  cursor: pointer;
  z-index: 1000;
}

header .menu-icon .bx {
  color: #000000;
  font-size: 20px;
}

.menu-icon .bx:hover {
  color: #ffffff;
}

.logo img {
  height: 30px; /* Adjust the height of the logo */
  width: auto;
  margin-left: 10px; /* Adjust margin as needed */
}

.navbar-sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 1.5rem; /* Adjusted margin */
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.4rem; /* Adjust font size */
  padding: 0.5rem 0.6rem;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #fff;
}

section:nth-child(even) {
  background: #e9e6e6;
}

header.sticky {
  background-color: #000; /* Keep background color black when sticky */
}

/* =================================================================================== */
section:nth-of-type(2) {
  /* margin-top: 100px; */
  padding-top: 10rem;
}

section:nth-of-type(2) img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

section .heading {
  margin-top: 50px;
}

.container {
  padding: 64px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.info {
  line-height: 1.5;
}

/* ===================1========================= */

.column-66 {
  float: left;
  width: 50%;
  padding: 20px;
}

.column-33 {
  float: left;
  width: 40%;
  padding: 20px;
}

/* =====================2======================= */

.column-66-type2 {
  float: left;
  width: 40%;
  padding: 20px;
}

.column-33-type2 {
  float: left;
  width: 45%;
  padding: 20px;
}

/* =======================3===================== */

.column-66-type3 {
  float: left;
  width: 50%;
  padding: 20px;
}

.column-33-type3 {
  float: left;
  width: 40%;
  padding: 20px;
}

/* ====================4======================== */

.column-66-type4 {
  float: left;
  width: 50%;
  padding: 30px;
}

.column-33-type4 {
  float: left;
  width: 40%;
  padding: 20px;
}

/* ======================hiding=========================== */

.text {
  font-size: 24px;
  line-height: 1.5;
}

.moreText {
  display: none;
}

.read-more-btn {
  padding: 15px 60px;
  background-color: rgb(149, 170, 197);
  color: rgb(53, 49, 49);
  border: none;
  outline: none;
  font-size: 20px;
  cursor: pointer;
}

.text.show-more .moreText {
  display: inline;
}

.text.show-more .dots {
  display: none;
}

/* CSS */
.read-more-btn {
  background: #5e5df0;
  border-radius: 999px;
  box-shadow: #5e5df0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

/* ================================================= */

.large-font {
  font-size: 35px;
}

.long-large-font {
  font-size: 35px;
}

.xlarge-font {
  font-size: 55px;
}

.heading {
  text-align: center;
  font-size: 64px;
}

.bullets li {
  list-style-type: none;
  box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3);
  font-size: 2rem;
  background-color: white;
  max-width: 70rem;
  margin: 0.8rem auto;
  border: 0.18rem solid rgb(255, 255, 255);
  padding: 1rem 1vw 1rem;
  border-radius: 0.5rem;
}

.button {
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  background-color: #04aa6d;
}

img {
  display: block;
  height: auto;
  max-width: 200%;
  border-radius: 05rem;
}

@media screen and (max-width: 1000px) {
  .column-66,
  .column-33 {
    width: 100%;
    text-align: center;
  }

  .column-66-type2,
  .column-33-type2 {
    width: 100%;
    text-align: center;
  }

  .column-66-type3,
  .column-33-type3 {
    width: 100%;
    text-align: center;
  }

  img {
    margin: auto;
  }
}

/* Footer Styles */
footer {
  background-color: #f4f4f4;
  padding: 2rem 1rem;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-content img {
  height: 12rem;
  width: auto;
  margin-bottom: 2rem;
  margin-left: 20px;
}

.footer-links {
  margin-right: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
}

.box {
  flex: 1;
  margin-bottom: 2rem;
  padding: 0 1rem;
  text-align: left;
}

.box h3 {
  font-size: 2.5rem; /* Increase font size for section titles */
  margin-bottom: 1.5rem; /* Increase margin bottom for better separation */
  color: #000000; /* White text color */
}

.box a {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  color: #000000;
  transition: color 0.3s ease;
}

.box a:hover {
  color: #b6b4b4;
  text-decoration: none;
}

.credit {
  background-color: #f4f4f4;
  color: #000000;
  padding: 2rem;
  font-size: 1.6rem;
}

.credit a img {
  height: 3rem;
  margin: auto;
}

/* Additional padding between link sections */
.box:not(:last-child) {
  margin-right: 2rem;
}

@media screen and (max-width: 992px) {
  nav ul {
    justify-content: center;
    margin-right: 0;
  }

  nav ul li {
    margin-left: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  nav ul {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    background-color: #000000;
    z-index: 1000;
    transition: all 0.5s;
  }

  nav ul.active {
    display: flex;
  }

  nav ul li {
    margin: 1rem 0;
  }

  nav ul li a {
    font-size: 2rem;
    padding: 1rem 0;
  }

  .logo img {
    margin-left: 1rem;
  }

  .title,
  .title1 {
    padding: 2rem 2rem; /* Adjust padding */
    font-size: 2.5rem; /* Adjust font size */
  }

  /* Additional styles for sticky navigation */
  header.sticky {
    background-color: #000;
  }

  header.sticky nav ul li a {
    color: #fff;
  }
}

@media screen and (max-width: 576px) {
  nav ul {
    flex-direction: column;
    align-items: center;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
    z-index: 1000;
    padding-top: 5rem; /* Adjust padding */
  }

  nav ul.active {
    display: flex;
  }

  nav ul li {
    margin: 1rem 0;
  }

  nav ul li a {
    font-size: 1.6rem; /* Adjust font size */
    padding: 1rem 0;
  }

  .slideshow-text h1 {
    font-size: 2.4rem;
  }

  .slideshow-text p {
    font-size: 1.6rem;
  }

  .slideshow-text .btn {
    font-size: 1.4rem;
    padding: 0.8rem 1.6rem;
  }

  .content4 img {
    height: 4rem;
  }

  .box h3 {
    font-size: 1.8rem;
  }

  .box a {
    font-size: 1.4rem;
  }

  .credit {
    font-size: 1.4rem;
  }
}
