* {
  font-family: 'Play', sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: inherit;
  transition: all 0.2s linear;
  scroll-behavior: smooth;
}

html {
  font-size: 50%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

body {
  background-color: #e9e6e6;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

header.sticky {
  background-color: #000;
  position: fixed;
  top: -50px;
  width: 100%;
  height: 150px;
}

header.sticky a {
  color: #fff; /* Set text color to white for the sticky state */
}

header .menu-icon {
  font-size: 22px;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  margin-left: 1350px;
  margin-top: 30px;
}

header .menu-icon .bx {
  color: #000000;
  padding: 0px 10px 0px 10px;
  display: none;
}

header .menu-icon .bx:hover {
  color: #ffffff;
}

.logo {
  margin-top: 30px;
  position: fixed;
}

.logo img{
  height: 80px;
  width: 160px;
  margin-left: 70px;
}

nav ul{
  position: relative;
  left: 80%;
}

nav ul li {
  margin-top: -70px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0.5rem;
  list-style: none;
}

nav ul li a {
  margin-right: 3px;
  text-decoration: none;
  font-size: 2.4rem;
  border-radius: 2.4rem;
  padding: .5rem 1rem;
  color: #000000;
}

nav a.active,
nav a:hover {
  color: #ffffff;
  background-color: transparent;
  /* text-decoration: underline; */
}

/* =================================================================================== */

.cards .card:nth-child(1){
  background-image: url('images/Logos/1.jpg');
}
.cards .card:nth-child(2){
  background-image: url('images/Logos/2.png');
}
.cards .card:nth-child(3){
  background-image: url('images/Logos/3.jpg');
}
.cards .card:nth-child(4){
  background-image: url('images/Logos/4.png');
}
.cards .card:nth-child(5){
  background-image: url('images/Logos/5.jpg');
}
.cards .card:nth-child(6){
  background-image: url('images/Logos/6.png');
}
.cards .card:nth-child(7){
  background-image: url('images/Logos/7.png');
}
.cards .card:nth-child(8){
  background-image: url('images/Logos/8.png');
}
.cards .card:nth-child(9){
  background-image: url('images/Logos/9.jpg');
}
.cards .card:nth-child(10){
  background-image: url('images/Logos/10.jpg');
}
.cards .card:nth-child(11){
  background-image: url('images/Logos/11.jpg');
}
.cards .card:nth-child(12){
  background-image: url('images/Logos/12.jpg');
}
.cards .card:nth-child(13){
  background-image: url('images/Logos/13.png');
}
.cards .card:nth-child(14){
  background-image: url('images/Logos/14.png');
}
.cards .card:nth-child(15){
  background-image: url('images/Logos/15.png');
}
.cards .card:nth-child(16){
  background-image: url('images/Logos/16.png');
}
.cards .card:nth-child(17){
  background-image: url('images/Logos/17.jpg');
}
.cards .card:nth-child(18){
  background-image: url('images/Logos/18.jpg');
}
.cards .card:nth-child(19){
  background-image: url('images/Logos/19.png');
}
.cards .card:nth-child(20){
  background-image: url('images/Logos/27.png');
}
.cards_2 .card:nth-child(1){
  background-image: url('images/Logos/20.png');
}
.cards_2 .card:nth-child(2){
  background-image: url('images/Logos/21.jpg');
}
.cards_2 .card:nth-child(3){
  background-image: url('images/Logos/22.jpg');
}
.cards_2 .card:nth-child(4){
  background-image: url('images/Logos/23.png');
}
.cards_2 .card:nth-child(5){
  background-image: url('images/Logos/24.png');
}
.cards_2 .card:nth-child(6){
  background-image: url('images/Logos/25.jpg');
}
.cards_2 .card:nth-child(7){
  background-image: url('images/Logos/26.png');
}

.card{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;  
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3rem;
}

section:nth-of-type(2) {
  margin-top: 6vw;
  margin-bottom: 9vw;
}
section:nth-of-type(2) h1{
  font-size:55px;
  text-align: center;
}
section:nth-of-type(2) h3{
  margin-top: 7rem;
  margin-bottom: 3rem;
  font-size:30px;
  text-align: center;
  color: #636262;
}

.card {
  cursor: pointer;
  color: white;
  padding: 1rem;
  width:10rem;
  height: 10rem;
}
.cards{
  max-width: 1200px;
  margin: 50px auto;
  display: grid;
  gap: 8rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.cards_2 {
  cursor: pointer;
  max-width: 1200px;
  margin: 50px auto;
  display: grid;
  gap: 8rem;
  grid-template-columns: repeat(7, 1fr); /* Set to 7 equal columns */
}

 /* animation */

.card {
  margin-bottom: 2rem;
  --border-width: 3px;
  position: relative;
  border-radius: var(--border-width);
}

.card::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(60deg, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f, #abf25f, #5ff281, #5ff2f0);
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: calc(2 * var(--border-width));
  animation: moveGradient 4s alternate infinite;
}

@keyframes moveGradient {
    50% {
      background-position: 100% 50%;
  }
}

/* ------------------footer-------------------- */

section .content4 {
  border-top: .1rem solid rgba(0,0,0,.1);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
  margin-left: 350px;
  padding: 0px 10px;
}

section .content4 img {
  height: 150px;
  width: 275px;
  margin-top: 70px;
  margin-left: -300px;
}

section .content4 .box {
  margin-left: -250px;
  display: block;
  padding: 50px 70px;
}

section .content4 .box h3 {
  text-align: center;
  justify-content: center;
  padding: .5rem 0;
  font-size: 3rem;
  color: #000;
}

section .content4 .box a {
  text-align: center;
  justify-content: center;
  display: block;
  padding: .5rem 0;
  font-size: 2rem;
  color: #555;
}

section .content4 .box a:hover {
  color: rgb(0, 35, 233);
}

section .credit {
  text-align: center;
  border-top: .1rem solid rgba(0,0,0,.1);
  font-size: 2.5rem;
  color: #000;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-top: 1.5rem;
}

section .credit img {
  margin-left: 300px;
  margin-top: -100px;
  width: 100px;
}

section .credit p {
  font-size: 15px;
  margin-left: 1090px;
  margin-top: -20px;
}

section .credit a {
  color: #008624;
}