* {
    font-family: 'Play', sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: inherit;
    transition: all 0.2s linear;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.5rem 1rem; /* Adjust padding as needed */
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background-color: #000; /* Set initial background color to black */
    height: 120px; /* Adjust the height of the navigation bar */
}

.sticky {
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.sticky a {
    color: #fff;
    /* Set text color to white for the sticky state */
}

header .menu-icon {
    font-size: 16px; /* Adjust the font size of the icon */
    cursor: pointer;
    z-index: 1000;
}

header .menu-icon .bx {
    color: #000000;
    font-size: 20px;
}

.menu-icon .bx:hover {
    color: #ffffff;
}

.logo img {
    height: 30px; /* Adjust the height of the logo */
    width: auto;
    margin-left: 10px; /* Adjust margin as needed */
}

.navbar-sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 1.5rem; /* Adjusted margin */
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.4rem; /* Adjust font size */
    padding: 0.5rem 0.6rem;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #fff;
}

section:nth-child(even) {
    background: #e9e6e6;
}

header.sticky {
    background-color: #000; /* Keep background color black when sticky */
}

/* ----------------our partners---------------- */

section:nth-of-type(2) {
    /* margin-top: 100px; */
    padding-top: 11rem;
    padding: 64px;
}

.heading {
    margin-top: 50px;
    font-size: 55px;
    padding: 30px 0px;
    margin-left: 580px;
}

/* Container Styles */
.content-wrapper {
    margin: 0 auto;
    /* max-width: 1200px; */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0.5rem;
}

/* News Card Styles */
.news-card {
    border: 0px solid rgb(0, 0, 0);
    margin: 1rem;
    position: grid;
    overflow: hidden;
    border-radius: 1rem;
    flex: 1;
    min-width: 350px;
    height: 100px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
}

.news-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 80%);
    z-index: 0;
}

.news-card__card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.news-card__image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: transform 3s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    z-index: -1;
}

.news-card__text-wrapper {
    position: absolute;
    bottom: 0rem;
    padding: 1rem;
    color: white;
    transition: background-color 1.5s ease;
}

.news-card__title {
    font-size: 2rem;
    transition: color 1s ease;
    margin-bottom: .5rem;
}

.news-card__details-wrapper {
    font-size: 1.5rem;
    max-height: 0;
    opacity: 0;
    transition: max-height 1.5s ease, opacity 1s ease;
}

.news-card__excerpt {
    font-weight: 300;
}

/* Media Query for Medium Screens */
@media (min-width: 600px) {
    .news-card {
        height: 12rem;
    }
}

/* Media Query for Large Screens */
@media (min-width: 900px) {
    .news-card {
        height: 20rem;
    }

    .news-card:hover .news-card__details-wrapper {
        max-height: 20rem;
        opacity: 1;
    }

    .news-card:hover .news-card__text-wrapper {
        background-color: rgba(0, 0, 0, 0.6);
    }

    .news-card:hover .news-card__title {
        color: yellow;
    }

    .news-card:hover .news-card__image {
        transform: scale(1.2);
        z-index: -1;
    }
}

/* Footer Styles */
footer {
    background-color: #f4f4f4;
    padding: 2rem 1rem;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-content img {
    height: 12rem;
    width: auto;
    margin-bottom: 2rem;
    margin-left: 20px;
}

.footer-links {
    margin-right: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
}

.box {
    flex: 1;
    margin-bottom: 2rem;
    padding: 0 1rem;
    text-align: left;
}

.box h3 {
    font-size: 2.5rem; /* Increase font size for section titles */
    margin-bottom: 1.5rem; /* Increase margin bottom for better separation */
    color: #000000; /* White text color */
}

.box a {
    display: block;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    color: #000000;
    transition: color 0.3s ease;
}

.box a:hover {
    color: #b6b4b4;
    text-decoration: none;
}

.credit {
    background-color: #f4f4f4;
    color: #000000;
    padding: 2rem;
    font-size: 1.6rem;
}

.credit a img {
    height: 3rem;
}

/* Additional padding between link sections */
.box:not(:last-child) {
    margin-right: 2rem;
}

/* Responsive Styles */
@media screen and (max-width: 992px) {
    nav ul {
        justify-content: center;
        margin-right: 0;
    }

    nav ul li {
        margin-left: 1.5rem;
    }

    .heading {
        margin-left: 0;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    nav ul {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        background-color: #000000;
        z-index: 1000;
        transition: all 0.5s;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        margin: 1rem 0;
    }

    nav ul li a {
        font-size: 2rem;
        padding: 1rem 0;
    }

    .logo img {
        margin-left: 1rem;
    }

    .title,
    .title1 {
        padding: 2rem 2rem; /* Adjust padding */
        font-size: 2.5rem; /* Adjust font size */
    }

    /* Additional styles for sticky navigation */
    header.sticky {
        background-color: #000;
    }

    header.sticky nav ul li a {
        color: #fff;
    }

    .navbar-collapse {
        justify-content: center;
    }

    .navbar-nav {
        flex-direction: column;
    }

    .navbar-nav .nav-item {
        margin-bottom: 1rem;
    }

    .logo img {
        margin-left: 0;
    }
}

@media screen and (max-width: 576px) {
    nav ul {
        flex-direction: column;
        align-items: center;
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #000;
        z-index: 1000;
        padding-top: 5rem; /* Adjust padding */
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        margin: 1rem 0;
    }

    nav ul li a {
        font-size: 1.6rem; /* Adjust font size */
        padding: 1rem 0;
    }
    
    .slideshow-text h1 {
        font-size: 2.4rem;
    }

    .slideshow-text p {
        font-size: 1.6rem;
    }

    .slideshow-text .btn {
        font-size: 1.4rem;
        padding: 0.8rem 1.6rem;
    }

    .content4 img {
        height: 4rem;
    }

    .box h3 {
        font-size: 1.8rem;
    }

    .box a {
        font-size: 1.4rem;
    }

    .credit {
        font-size: 1.4rem;
    }

    .heading {
        font-size: 3.5rem;
    }
}