/* Custom CSS for Cybertec Enterprises website */

/* Global Styles */
* {
    font-family: 'Play', sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: inherit;
    transition: all 0.2s linear;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.5rem 1rem; /* Adjust padding as needed */
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background-color: #000; /* Set initial background color to black */
    height: 120px; /* Adjust the height of the navigation bar */
}

.sticky {
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.sticky a {
    color: #fff;
    /* Set text color to white for the sticky state */
}

header .menu-icon {
    font-size: 16px; /* Adjust the font size of the icon */
    cursor: pointer;
    z-index: 1000;
}

header .menu-icon .bx {
    color: #000000;
    font-size: 20px;
}

.menu-icon .bx:hover {
    color: #ffffff;
}

.logo img {
    height: 30px; /* Adjust the height of the logo */
    width: auto;
    margin-left: 10px; /* Adjust margin as needed */
}

.navbar-sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 1.5rem; /* Adjusted margin */
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.4rem; /* Adjust font size */
    padding: 0.5rem 0.6rem;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #fff;
}

header.sticky {
    background-color: #000; /* Keep background color black when sticky */
}

/* Slideshow Styles */
.slideshow-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Full height of viewport */
    overflow: hidden; /* Hide overflow to ensure only one image is visible at a time */
}

.slideshow-images {
    display: flex;
    width: 300%; /* Total width will be three times the viewport width to accommodate all images */
    transition: transform 1s ease; /* Smooth transition for image sliding */
}

.slideshow-images img {
    display: none;
    width: 35%;
    height: 100vh;
}

.slideshow-images img.active {
    display: block;
}

.slideshow-images img:first-child {
    opacity: 1;
}

.slideshow-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 1;
}

.slideshow-text h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.slideshow-text p {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.slideshow-text .btn {
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    background-color: #000;
    color: #fff;
    transition: background-color 0.3s ease;
}

.slideshow-text .btn:hover {
    background-color: #333;
    color: #ffffff;
}

/* Services Section Styles */
.content2 {
    padding: 5rem 2rem;
}

.title {
    padding: 2rem 5rem; /* Adjust padding */
    font-size: 3.5rem; /* Adjust font size */
    font-weight: bold;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.column {
    flex: 0 1 calc(30% - 2rem);
    margin-bottom: 2rem;
    padding: 0 1rem;
}

.column img {
    width: 100%;
    border-radius: 1rem;
}

.column .container {
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    text-align: center;
}

.column .container h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.content2 .card .card-body p {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.column2 .card2 img {
    width: 100%; /* Adjust the width as needed */
    height: auto;
    max-height: 200px; /* Set the maximum height of the images */
    object-fit: cover;
}

.card2 {
    margin: 20px;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title1 {
    padding: 2rem 5rem; /* Adjust padding */
    font-size: 3.5rem; /* Adjust font size */
    font-weight: bold;
}

.content3 .card2 .card-body p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

/* Footer Styles */
footer {
    background-color: #f4f4f4;
    padding: 2rem 1rem;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-content img {
    height: 12rem;
    width: auto;
    margin-bottom: 2rem;
    margin-left: 20px;
}

.footer-links {
    margin-right: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
}

.box {
    flex: 1;
    margin-bottom: 2rem;
    padding: 0 1rem;
    text-align: left;
}

.box h3 {
    font-size: 2.5rem; /* Increase font size for section titles */
    margin-bottom: 1.5rem; /* Increase margin bottom for better separation */
    color: #000000; /* White text color */
}

.box a {
    display: block;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    color: #000000;
    transition: color 0.3s ease;
}

.box a:hover {
    color: #b6b4b4;
    text-decoration: none;
}

.credit {
    background-color: #f4f4f4;
    color: #000000;
    padding: 2rem;
    font-size: 1.6rem;
}

.credit a img {
    height: 3rem;
}

/* Additional padding between link sections */
.box:not(:last-child) {
    margin-right: 2rem;
}

/* Responsive Styles */
@media screen and (max-width: 992px) {
    nav ul {
        justify-content: center;
        margin-right: 0;
    }

    nav ul li {
        margin-left: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    nav ul {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        background-color: #000000;
        z-index: 1000;
        transition: all 0.5s;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        margin: 1rem 0;
    }

    nav ul li a {
        font-size: 2rem;
        padding: 1rem 0;
    }

    .logo img {
        margin-left: 1rem;
    }

    .title,
    .title1 {
        padding: 2rem 2rem; /* Adjust padding */
        font-size: 2.5rem; /* Adjust font size */
    }

    /* Additional styles for sticky navigation */
    header.sticky {
        background-color: #000;
    }

    header.sticky nav ul li a {
        color: #fff;
    }
}

@media screen and (max-width: 576px) {
    nav ul {
        flex-direction: column;
        align-items: center;
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #000;
        z-index: 1000;
        padding-top: 5rem; /* Adjust padding */
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        margin: 1rem 0;
    }

    nav ul li a {
        font-size: 1.6rem; /* Adjust font size */
        padding: 1rem 0;
    }
    
    .slideshow-text h1 {
        font-size: 2.4rem;
    }

    .slideshow-text p {
        font-size: 1.6rem;
    }

    .slideshow-text .btn {
        font-size: 1.4rem;
        padding: 0.8rem 1.6rem;
    }

    .content4 img {
        height: 4rem;
    }

    .box h3 {
        font-size: 1.8rem;
    }

    .box a {
        font-size: 1.4rem;
    }

    .credit {
        font-size: 1.4rem;
    }
}
