@font-face {
    font-family: SackersGothic;
    src: url(Sackers\ Gothic\ Std\ Light.otf);
}

* {
    font-family: SackersGothic;
    padding: 0;
    margin: 0;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: inherit;
    transition: all 0.2s linear;
    scroll-behavior: smooth;
}

html {
    font-size: 50%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

header.sticky {
    background-color: #000;
    /* background: linear-gradient(to right, #6e6c6c, #000) !important; */
    position: fixed;
    top: -50px;
    width: 100%;
    height: 150px;
}

header.sticky a {
    color: #fff; /* Set text color to white for the sticky state */
}

header .menu-icon {
    font-size: 22px;
    cursor: pointer;
    z-index: 1000;
    display: flex;
    margin-left: 1350px;
    margin-top: 30px;
}

header .menu-icon .bx {
    color: #000000;
    padding: 0px 10px 0px 10px;
    display: none;
}

header .menu-icon .bx:hover {
    color: #ffffff;
}

.logo {
    margin-top: 30px;
    position: fixed;
}

.logo img{
    height: 80px;
    width: 160px;
    margin-left: 70px;
}

nav ul{
    position: relative;
    left: 53%;
}

nav ul li {
    margin-top: -80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0.5rem;
    list-style: none;
}

nav ul li a {
    margin-right: 3px;
    text-decoration: none;
    font-size: 2rem;
    border-radius: 2.4rem;
    padding: .5rem 1rem;
    color: #000000;
}

nav a.active,
nav a:hover {
    color: #ffffff;
    background-color: transparent;
    /* text-decoration: underline; */
}

section:nth-child(even) {
    background: #c2c1c1;
}

.slideshow-text{
    display: flex;
    flex-direction: row;
}

section .slideshow-text h1{
    margin-left: 300px;
    position: absolute;
    top: 50px;
    font-size: 30px;
    color: #ffffff;
}

section .slideshow-text p{
    text-align: center;
    padding: 0px 25px;
    /* margin-left: -20px; */
    position: absolute;
    top: 138px;  
    font-size: 22px;
    color: #ffffff;
}

section .slideshow-text .btn {
    position: absolute;
    font-size: 1.7rem;
    margin-top: 85px;
    margin-left: 500px;
    color: #fff;
    background: rgb(51, 51, 51);
    border-radius: 20px;
    cursor: pointer;
    padding: 20px 30px;
    z-index: 999;
}

.slideshow-text .btn:hover {
    color: #3c3c3c;
    background: #eee;
    letter-spacing: .1rem;
}

/* ------------img slideshow-------------- */

.slideshow-container {
    position: sticky;
    width: 100%;
    max-width: 1500px; /* Adjust the width as needed */
    margin: 0;
    background-size: cover !important;
    background-position: center center !important;
    background-clip: border-box !important;
    background-repeat: no-repeat !important;
}

.slideshow-images {
    display: flex;
    width: 150%;
}

.slideshow-images img {
    width: 120%;
    height: 1000px;
    opacity: 0; /* Initial opacity for images */
    position: absolute;
    transition: opacity 1s; /* Add a smooth transition effect */
}

.slideshow-text {
    position: absolute;
    top: 250px;
    width: 100%;
    padding: 180px; /* Adjust padding as needed */
    color: white; /* Text color */
    background: rgba(0, 0, 0, 0.5); /* Background color with opacity */
    text-align: center; /* Center the text */
}

/* --------------------services----------------- */

.content2 {
    margin-top: 1000px;
    font-size: 1.5rem;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.column {
    justify-content: center;
    float: left;
    width: 30%;
    margin-bottom: 16px;
    padding: 20px;
}

.content2 .row h1 {
    font-size: 32px;
}

.content2 .column .container h2 {
    font-size: 25px;
    padding: 1rem 0.5rem;
}

.content2 .column .container p {
    font-size: 15px;
    padding: 1rem 1rem;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

.card {
    border-radius: 0.9rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 0 16px;
    text-align: center;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: rgb(81, 81, 81);
}

.btn_services {
    border-radius: 1rem;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 95%;
}

.btn_services:hover {
    background-color: #555;
}

/* -------------------projects-------------------- */

.content3 {
    padding-top: 2rem;
    margin-top: 1rem;
    font-size: 1.5rem;
}

.content3 .row h1 {
    font-size: 32px;
}

.content3 .row h2 {
    font-size: 15px;
}

.content3 .row p {
    font-size: 12px;
    margin-top: 20px;
}

.column2 {
    justify-content: center;
    float: left;
    width: 22.5%;
    margin-bottom: 16px;
    padding: 18px;
}

@media screen and (max-width: 650px) {
    .column2 {
        width: 100%;
        display: block;
    }
}
.card2 {
    border-radius: 0.9rem;
    height: 32rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* ------------------footer-------------------- */

section .content4 {
    border-top: .1rem solid rgba(0,0,0,.1);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem;
    margin-left: 350px;
    padding: 0px 10px;
}

section .content4 img {
    height: 150px;
    width: 275px;
    margin-top: 70px;
    margin-left: -300px;
}

section .content4 .box {
    margin-left: -250px;
    display: block;
    padding: 50px;
}

section .content4 .box h3 {
    text-align: center;
    justify-content: center;
    padding: .5rem 0;
    font-size: 2.5rem;
    color: #000;
}

section .content4 .box a {
    text-align: center;
    justify-content: center;
    display: block;
    padding: .5rem 0;
    font-size: 1.5rem;
    color: #555;
}

section .content4 .box a:hover {
    color: #3c3c3c;
}

section .credit {
    text-align: center;
    border-top: .1rem solid rgba(0,0,0,.1);
    font-size: 2rem;
    color: #000;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-top: 1.5rem;
}

section .credit p {
    font-size: 12px;
    margin-left: 1150px;
    margin-top: -22px;
}

section .credit a {
    color: #008624;
}